.view {
  display: flex;
  flex-direction: row;

  .mat-elevation-z8 {
    width: 70%;

    table {
      width: 100%;
    }
  }

  .detail-view {
    width: 30%;
    padding: 5px;
    margin: 5px;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%),
      0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);

    h3 {
      text-align: center;
      font-weight: bold;
    }

    img {
      width: 100%;
      height: auto;
      border-radius: 15px;
    }
  }
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
